@use 'submodules/mixin'as mixin;

.container {
    @include mixin.flex-box(row-reverse, space-around);
    width: 600px;
    height: 400px;
    background-color: #ddd;

    .box {
        width: 60px;
        height: 60px;
        background-color: lawngreen;
        text-align: center;
        line-height: 60px;
    }
}